<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<!--    <link rel="stylesheet" href="main.css">-->
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<nav class="navbar navbar-expand-lg sticky-top  navbar-dark bg-dark" th:fragment="navigation">
    <a class="navbar-brand" href="#">Navbar</a>ads
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <i class="fa fa-bars" ></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="container">
            <ul class="navbar-nav mr-auto text-center">
                <li class="nav-item">
                    <a class="nav-link" href="#"> <li>
                <i class='bx bx-grid-alt'> <span class="">Kalendarz</span></i>
            </li></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link "  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class='bx bxs-user'> <span class=""> Uczestnicy</span></i>
                    </a>
                    <div  style="font-size: 0.7em;"  class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Dodaj użytkownika</a>
                        <a class="dropdown-item" href="#">Lista uzytkowników</a>
                        <a class="dropdown-item" href="#">Opcje wyświetlania</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link " href="http://127.0.0.1:5500/Uczesasdstnicy.html#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class='bx bxs-group'> <span class=""> Grupy</span></i>
                    </a>
                    <div style="font-size: 0.7em;" class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Dodaj grupe</a>
                        <a class="dropdown-item" href="#">Lista grup</a>
                    </div>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class='bx bx-list-ul'><span class=""> Lista obecności</span></i>

                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class='bx bx-grid-alt'> <span class="">Kalendarz</span></i>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="#">
                        <i class='bx bxs-message-dots'> <span class="">Kontakt</span></i>

                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class='bx bxs-help-circle'> <span class="">Pomoc</span></i>
                    </a>
                </li>

            </ul>
        </div>
        <form class="form-inline my-2 my-lg-0 text-center">
            <button class="btn center-text btn-outline-danger my-2 my-sm-0" style="font-size:0.7em; " type="submit">WYLOGUJ</button>
        </form>

    </div>
</nav>

</section>
<script>
    let sidebar = document.querySelector(".sidebar");
    let closeBtn = document.querySelector("#btn");
    let searchBtn = document.querySelector(".bx-search");

    closeBtn.addEventListener("click", ()=>{
        sidebar.classList.toggle("open");
        menuBtnChange();//calling the function(optional)
    });

    searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
        sidebar.classList.toggle("open");
        menuBtnChange(); //calling the function(optional)
    });

    // following are the code to change sidebar button(optional)


    function menuBtnChange() {
        if(sidebar.classList.contains("open")){
            closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");
        }else {
            closeBtn.classList.replace("bx-menu-alt-right","bx-menu");
        }
    }
</script>





<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>