
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <div th:replace="~{fragments/headApp :: head}"></div>
</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top" th:fragment="navigation">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <a class="navbar-brand" style="color: white!important;" href="#">E-lista</a>

    <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse.show"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <i class="fa fa-bars " style="color: white!important;"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="container">
            <ul class="navbar-nav mr-auto text-center">
                <li class="nav-item">
                    <a class="nav-link" href="calendar">
                <i class='bx bxs-calendar'><span class=""> Kalendarz</span></i></a>
            </li>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="attendanceList"  role="button" >
                        <i class='bx bxs-user'><span class=""> Uczestnicy</span></i>
                    </a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="optionGroupList">
                        <i class='bx bxs-group'><span class=""> Grupy</span></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="priceList">
                        <i class='bx bxs-coin-stack'><span class=""> Ceny</span></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class='bx bxs-landscape'><span class=""> Kolonie i obozy</span></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class='bx bx-mail-send' ><span class=""> Maile</span></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class='bx bxs-dashboard' ><span class=""> Ustawienia</span>  </i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: white;" href="#">
                        <i class='bx bxs-message-dots'><span class=""> Kontakt</span></i>

                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class='bx bxs-help-circle'><span class=""> Pomoc</span></i>
                    </a>
                </li>
            </ul>
        </div>
        <form class="form-inline my-2 my-lg-0 text-center" th:action="@{/logout}" method="post" >
            <button  class="btn center-text btn-outline-danger my-2 my-sm-0" style="font-size:0.7em; " type="submit">
                WYLOGUJ
            </button>
        </form>
    </div>
<!--    <script>-->
<!--        const navLinks = document.querySelectorAll('.nav-item')-->
<!--        const menuToggle = document.getElementById('navbarSupportedContent')-->
<!--        const bsCollapse = new bootstrap.Collapse(menuToggle)-->
<!--        navLinks.forEach((l) => {-->
<!--            l.addEventListener('click', () => { bsCollapse.toggle() })-->
<!--        })-->
<!--    </script>-->
</nav>

</body>
</html>