/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}
.navbar{
    background: #1e1c35!important;

}
#for-whom .btn-primary{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #4c47a0, #222049);
}

.navbar li a{
}
.navbar li a:hover{
    background: #FFF;
    color: #11101D;
}


.navbar li a .links_name{
    opacity: 1;
    pointer-events: auto;
}
.navbar li .tooltip{

}
.nav-link{
    color: #FFF!important;
    margin-left: 10px;

}
.navbar li a:hover{
    background: #FFF;
    border-radius: 15px;
    transition: 1.0s;

}

.navbar li a:hover .links_name,
.navbar li a:hover i{
    transition: all 0.5s ease;
    color: #11101D;
}

.navbar li i{
    font-size: 14px;
}



.hello{
    background: #f5f3ff;
    padding: 20px;
}



/*responsive*/
.jumbotron{
    background:#EAE9F2!important;
}
@media(max-width: 500px){


}
.scrollit {
    overflow:scroll;
    height:200px;


}

@media(max-width: 500px){



}


@media(max-width: 723px){



}
@media(max-width: 575px){

    .select-input{
    }

}
@media(max-width: 378px){



}
@media(max-width: 320px){


}
.form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 320px;
}

.title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
}

.subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1 {
    margin-top: 40px;
}

.ic2 {
    margin-top: 30px;
}

.input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
}

.cut-short {
    width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
}

.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
}

.input:focus ~ .placeholder {
    color: #dc2f55;
}

.submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
}

.submit:active {
    background-color: #06b;
}

.delete{
    padding:  2px ;
    font-size: 0.8em;
    color: #11101D;
    background-color: #f5f3ff!important;
}
.delete:hover{
    border-radius: 10px;
    background-color: #f5f3ff!important;
    color: red;
    transition: 0.7s;
    /* background: #11101D; */
}
.edit{
    background-color: #f5f3ff!important;
    padding:  2px ;
    color: #11101D;
    font-size: 0.8em;
    border-radius: 10px;
    /* border:1px #000!important; */
    border: none !important;

}
.edit:hover{
    border-radius: 10px;
    color: orange;
    transition: 0.7s;
    /* background-color: #11101D!important; */

    border: none !important;
}



.success{

    background-color: #f5f3ff!important;
    padding:  2px ;
    color: #11101D;
    font-size: 0.8em;

}
.success:hover{
    border-radius: 10px;
    color: green;
    transition: 0.7s;
    /* background: #11101D; */
}

.info{
    font-size: 1.5em;
    color: #11101D;
}
.info:hover{
    font-size: 1.5em;
    color: green;
    transition: 0.7s;
}


.form-control{
    font-size: 0.7em;
}

.month, .day{
    font-size: 0.6em;
}

.app-datepicker{
    font-size: 0.2em;;

}

input {
    color: white;
    border-radius: 4px;
    padding: 3px;
    width: 170px;
    border:1px solid #d6d6d6;
}

input[type="date"]::-webkit-datetime-edit, input[type="date"]::-webkit-inner-spin-button, input[type="date"]::-webkit-clear-button {
    color: #fff;
    position: relative;
    font-size: 0.8em;
}

input[type="date"]::-webkit-datetime-edit-year-field{
    position: absolute !important;
    border-left:1px solid #8c8c8c;
    padding-left: 10px;
    color:#000;

    left: 75px;
}
#scales{
    max-width: 20px;;
}
input[type="date"]::-webkit-datetime-edit-month-field{
    position: absolute !important;
    border-left:1px solid #8c8c8c;
    padding-left: 12px;
    padding-top: 2px;
    color:#000;
    left: 36px;
}


input[type="date"]::-webkit-datetime-edit-day-field{
    position: absolute !important;

    color:#000;
    padding-top: 2px;;
    padding-left: 8px;
    left: 4px;

}
.offset {

}

.outer {
    position:relative;

}

.calendar {
    margin: 0 auto;
    /* max-width: 1280px; */
    /* min-width: 500px; */
    overflow: auto;
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.2) ,0px 3px 7px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.wrap {
    overflow-x: hidden;
    /* overflow-y: scroll; */
    /* max-width: 1280px; */
    height: 700px;
    border-radius: 8px;
}



header {
    background:white;
    padding: 1rem;
    /* color: white!important; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 8px 8px 0px 0px;
}

header h1 {
    font-size: 1rem;
    text-align: center;
    font-weight: normal;

}
tbody {
    position: relative;
    top: 0px;
}
table {
    /* background: #fff; */
    /* width: 100%; */
    /* height: 100%; */
    /* border-collapse: collapse; */

    /* table-layout: fixed; */


}
thead {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);

}


.headcol {
    width: 60px;
    font-size: 0.9rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    padding: 0.25rem 0;
    text-align: center;
    border: 0;
    position: relative;
    top: -12px;
    border-bottom: 1px solid transparent;
}

.headcol-H{
    width: 40px;
    font-size: 0.9rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.7);
    /* padding: 0.25rem 0; */
    text-align: center;
    border: 0;
    position: relative;
    border-bottom: 1px solid transparent;
}

thead th {
    font-size: 0.9rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.9);
    padding: 1rem;
    text-align: center;
}

thead {
    z-index: 2;
    background: white;
    border-bottom: 2px solid #ddd;
}
th, td {
    font-size: 0.8em;
    padding: 15em 11em;
}
tr, tr td {
    height: 25px;
    border-left: 0px solid!important;
    border-right: 0px solid!important;
}
td {
    text-align: center;
}
tr:nth-child(odd) td:not(.headcol) {
    border-bottom: 1px solid #e8e8e8;
}

tr:nth-child(even) td:not(.headcol) {
    border-bottom: 1px solid #e8e8e8;
}
tr:nth-child(odd)  {
    border-bottom: 1px solid #7a7878;
    background: #fdfdff;
}


tr td {
    border-right: 1px solid #eee;
    padding: 0;
    white-space: none;
    word-wrap: nowrap;
}

tbody tr td {
    position: relative;
    vertical-align: top;
    height: 20px;
    width: auto;
}

.secondary {
    color: rgba(0, 0, 0, 0.4);
}

.checkbox {
    display: none;
}

.checkbox + label {
    border: 0;
    outline: 0;
    width: 100px;
    height: 100px;
    background: white;
    color: transparent;
    display:block;
    display: none;
}

.checkbox:checked + label {
    border: 0;
    outline: 0;
    width: 100%;
    height: 100%;
    background: red;
    color: transparent;
    display: inline-block;
}

.event {
    /* max-width: 50px; */
    background: #00B4FC;
    color: white;
    border-radius: 2px;
    text-align: left;
    font-size: 0.7rem;
    z-index: 2;
    padding: 0.2rem;
    overflow-x: auto;
    overflow-y: none!important;
    transition: all 0.2s;
    cursor: pointer;

}

.event:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    background: #00B4FC;
}

.event.double {
    /* max-height: 200%;
    min-height: 150%; */

    overflow-y: none!important;
    height: 200%;
    width: 100%;
    /* min-width: 100px; */
    /*

    0.25h - 50
    0.5h - 100
    1h - 200
    2h - 400
    3h - 600

    */
}


button.secondary {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: white;
    padding: 0.5rem 0.75rem;
    font-size: 14px;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-weight: 500;
}

button.secondary:hover {
    background: #fafafa;
}
button.secondary:active {
    box-shadow: none;
}
button.secondary:focus {
    outline: 0;
}



.today {
    color: red;
}

.now {
    box-shadow: 0px -1px 0px 0px red;
}

.icon {
    font-size: 1.7rem;
    margin: 0 1.1rem;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    position: relative;

}

.icon:hover {
    color: red;
}

.right-panel{
    border-radius: 10px;
    padding: 20px;
    background: white;
    /* margin-right: 2px; */
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2) ,0px 1px 1px rgba(0, 0, 0, 0.1);
}
.links-to-copy{
    color: #000;
    text-align: center;
    background: #f5f3ff;
    border-radius: 10px;
    font-size: 0.8em;
    padding: 10px;
}
.btn-link{
    color: #000;
}


.panel-option{
    color: #000;
    text-align: center;
    background: #ffffff;
    font-weight: 600;
    /* border-radius: 10px; */

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2) ,0px 1px 1px rgba(0, 0, 0, 0.1);
    font-size: 1em;
    padding: 10px;
}
/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c2b6fd;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #44397c;
}
/* End scrollbar */

.container-custom {
    width: 100%;
    height: auto;
    overflow-x: auto;
    white-space: nowrap;

    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2) ,0px 1px 1px rgba(0, 0, 0, 0.1);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    /* padding: 20px; */
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2) ,0px 1px 1px rgba(0, 0, 0, 0.1);
    width: 25%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 38px!important;
    font-weight: bold;
}

.price{

    border: none;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 1.1em;
    outline: none;
    text-decoration: none !important;
    border: none!important;
    outline: none!important;
}

.price:hover{
    outline: none;
    border-radius: 10px;
    color: green;
    transition: 0.7s;
    /* background: #11101D; */
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.navigation-card-button{
    max-width: 150px;
    height: 35px;
    padding: 5px 15px;
    border: 1px solid #222049;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 0.7em;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 5px;
}

.navigation-card-button:hover {
    background: #222049;
    color: #fff;
}
.navigation-card-button:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn1 3s ease-in-out infinite;
}
.navigation-card-button:active{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
    -4px -4px 6px 0 rgba(116, 125, 136, .2),
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}



@media (max-width: 1100px){

    .modal-content{
        width: 50%;
    }

}

@media(max-width: 500px){

    .modal-content{
        width: 75%;
    }
}
