

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    /* font-family: 'Roboto', sans-serif; */

}
body{
    font-family: sans-serif;
}

#nav-bar{
    position: sticky;
    top:0;
    z-index:10;
}
.navbar{
    background-image: linear-gradient(to right, #4c47a0, #222049);
    padding: 0!important;
}

/* .navbar-brand {
    color: #fff!important;
    height:40px;
    padding-left:20px ;
} */
.navbar-brand img{
    height:40px;
    padding-left:20px ;
}
.navbar-nav li{
    padding:  0 10px;
    font-size: 15px;
}
.navbar-nav li a{
    color: #fff !important ;
    font-weight: 600;
    float: right;
    text-align: left;
}
.fa-bars{
    color: #fff;
    font-size: 30px;
}
.navbar-toggler
{
    outline: none!important;
}
/*  baner section */

#banner
{
    background-image: linear-gradient(to right, #4c47a0, #222049);
    color: #fff;

    padding-top: 5%;
}
.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top:50px;
}

.play-btn{
    margin: 20px;
}
#banner a {
    color: #fff;
    text-decoration: none;
}
.bottom-img{
    width:100%;
}

/* for-whom section */

#for-whom
{
    padding-top: 75px;
    padding-bottom: 25px;
}
.service-img{
    width: 100px;
    margin-top: 20px;
}
.for-whom{
    padding: 20px;
}
.for-whom h5{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}
.title::before{
    content: '';
    background: #222049;
    height: 5px;
    width: 200px;
    margin-left: auto;
    display: block;
    margin-right: auto;
    transform: translateY(63px);
}
.title::after{
    content: '';
    background: #222049;
    height: 10px;
    width: 50px;
    margin-left: auto;

    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}

#for-whom .btn-primary{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #4c47a0, #222049);
}

/* ABOUT US section */
#functions{
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 75px;
}

.about-title{
    font-size: 25px;
    font-weight: 600;
    margin-top: 8%;
}

#functions ul li {
    margin: 10px 0;
}
#functions ul{
    margin-left: 20px;
}


/* price  sction*/
#price{
    /* margin:50px 0px; */

    padding-top: 100px;
}

.price{
    /* border-left: 4px solid #222049; */
    margin-top: 50px;
    margin-bottom: 50px;

}

.price img{
    height: 60px;
    width: 60px;
    border-radius:50% ;
}
.user-details
{
    display: inline-block;
    font-size: 12px;
}

/* social-media section */

#social-media{
    background: #f8f9fa;
    padding: 100px 0;
}
#social-media p{

    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}

.social-icons img{
    width: 60px;
    transition: 0.5s;
}
.social-icons a:hover img{
    transform: translateY(-10px);
}


#footer{
    background-image: linear-gradient(to right, #4c47a0, #222049);
    color: #fff;
}

.footer-img{
    width:100%;
}
.footer-box{
    padding: 20px;
}
.footer-box img{
    width: 120px;
    margin-bottom:20px;


}

.icons-bottom{
    margin-right: 8px;
    font-size: 15px;
    height:35px;
    width: 25px;
    text-align: center;
    padding-top: 2px;
    border-radius: 2px;


}
.footer-box .form-control{

    margin-top:  25px;
    max-width: 250px;

}

.footer-box .btn-primary{
    box-shadow: none!important;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    background-image: linear-gradient(to right, #4c47a0, #222049);

}

hr{
    background-color:#fff ;
}
.copyright
{
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;

}

.table{
    width: 100%;
    border-collapse: collapse;

}

.table td,.table th{
    font-weight: 600;
    padding:1px 1px;
    border:1px solid #ddd;
    text-align: center;
    font-size:20px;
}

.table th{
    background-color: #4c47a0;
    color:#ffffff;
}

.table tbody tr:nth-child(even){
    background-color: #f5f5f5;
}

/*responsive*/



.copyright
{
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;

}

.login-form {
    max-width: 350px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.login-form__logo-container {
    padding: 30px;
    background: rgba(0, 0, 0, 0.25);
}

.login-form__logo {
    display: block;
    max-width: 125px;
    margin: 0 auto;
}

.login-form__content {
    padding: 30px;
    background: #f6fafd;
}

.login-form__header {
    margin-bottom: 15px;
    text-align: center;
    color: #333333;
}

.login-form__input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #dddddd;
    background: #ffffff;
    outline: none;
    transition: border-color 0.5s;
}

.login-form__input:focus {
    border-color: #4c47a0;
}

.login-form__input::placeholder {
    color: #aaaaaa;
}

.login-form__button {
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    background-image: linear-gradient(to right, #4c47a0, #222049);
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form__button:active {
    background: #4c47a0;
}

.login-form__links {
    margin-top: 15px;
    text-align: center;
}

.login-form__link {
    font-size: 0.9em;
    color: #4c47a0;
    text-decoration: none;
}