<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">

<head>
    <div th:replace="~{fragments/headApp :: head}"></div>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{fragments/navbarApp :: navigation}"></div>
<div class="text">
    <div class="hello">
        <br><br>

        <div class="container-fluid hello" style="">
            <div class="">
            <span class="my-4">
              <h4>
                Lista obecności
                <a href="#" class="">
                  <i style="font-size: 0.7em" class="bx bxs-info-circle info"> </i
                  ></a>
              </h4>
            </span>
                <hr/>

                <span class="my-4 text-center">
              <button
                      id="open-close"
                      href="#"
                      class="edit"
                      onclick="changePanel(this)">
                Przełącz na listę obecności z konkretnych miesięcy
              </button>
            </span>
                <br/>
                <div id="month-form" style="display: none">
                    <form lang="pl" class="form-inline my-0 my-lg-0">
                        <label for="group" style="font-weight: bold"></label>
                        <input
                                class="form-control my-1 mr-sm-2"
                                type="search"
                                placeholder="Imie"
                                aria-label="Search"
                        />
                        <input
                                class="form-control mr-sm-2"
                                type="search"
                                placeholder="Nazwisko"
                                aria-label="Search"
                        />
                        <div class="md-form mb-0 m-1 form-group form-field">
                            <select
                                    name="group"
                                    id="group"
                                    class="form-control select-input mr-sm-2"
                            >
                                <option value="">Wybierz grupe</option>
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="mercedes">Mercedes</option>
                                <option value="audi">Audi</option>
                                <option value="audi">Bez grupy</option>
                            </select>
                        </div>

                        <div class="md-form mb-0 m-1 form-group form-field">
                            <select
                                    name="group"
                                    id="group"
                                    class="form-control select-input mr-sm-2"
                            >
                                <option value="1">Styczeń</option>
                                <option value="2">Luty</option>
                                <option value="3">Marzec</option>
                                <option value="4">Kwiecień</option>
                                <option value="5">Maj</option>
                                <option value="6">Czerwiec</option>
                                <option value="7">Lipiec</option>
                                <option value="8">Sierpień</option>
                                <option value="9">Wrzesień</option>
                                <option value="10">Październik</option>
                                <option value="11">Listopad</option>
                                <option value="12">Grudzień</option>
                            </select>
                        </div>

                        <div class="md-form mb-0 m-1 form-group form-field">
                            <select
                                    name="group"
                                    id="group"
                                    class="form-control select-input mr-sm-2"
                            >
                                <option value="1">Styczeń</option>
                                <option value="2">Luty</option>
                                <option value="3">Marzec</option>
                                <option value="4">Kwiecień</option>
                                <option value="5">Maj</option>
                                <option value="6">Czerwiec</option>
                                <option value="7">Lipiec</option>
                                <option value="8">Sierpień</option>
                                <option value="9">Wrzesień</option>
                                <option value="10">Październik</option>
                                <option value="11">Listopad</option>
                                <option value="12">Grudzień</option>
                            </select>
                        </div>
                        <script type="text/javascript">
                            window.onload = dataChange();
                        </script>

                        <div class="form-group"></div>
                        &nbsp; &nbsp;
                        <button
                                class="btn btn-outline-success my-2 my-sm-0 form-control"
                                type="submit"
                        >
                            Wyszukaj
                        </button>
                        <br/><br/>
                    </form>
                </div>

                <div id="day-form">
                    <form lang="pl" class="form-inline my-0 my-lg-0">
                        <label for="group" style="font-weight: bold"></label>
                        <input
                                class="form-control my-1 mr-sm-2"
                                type="search"
                                placeholder="Imie"
                                aria-label="Search"
                        />
                        <input
                                class="form-control mr-sm-2"
                                type="search"
                                placeholder="Nazwisko"
                                aria-label="Search"
                        />
                        <div class="md-form mb-0 m-1 form-group form-field">
                            <select
                                    name="group"
                                    id="group"
                                    class="form-control select-input mr-sm-2"
                            >
                                <option value="">Wybierz grupe</option>
                                <option value="volvo">Volvo</option>
                                <option value="saab">Saab</option>
                                <option value="mercedes">Mercedes</option>
                                <option value="audi">Audi</option>
                            </select>
                        </div>

                        <input
                                type="date"
                                lang="fr-CA"
                                data-date=""
                                id="date-picker"
                                data-date-format="DD MMMM YYYY"
                        />
                        <script type="text/javascript">
                            window.onload = dataChange();
                        </script>

                        <div class="form-group"></div>
                        &nbsp; &nbsp;
                        <button
                                class="btn btn-outline-success my-2 my-sm-0 form-control"
                                type="submit"
                        >
                            Wyszukaj
                        </button>

                    </form>
                </div>
                <script src="main.js"></script>
            </div>
        </div>
        <p
                class="text-right">
            <a href="#"> <i class='bx bxs-trash-alt delete'><span> Usuń</span></i></a>&nbsp;
            <!-- <a href="#"> <i class='bx bxs-edit-alt edit' ><span class="">Edytuj</span></i></a>&nbsp;&nbsp;    -->
            <a href="#"> <i class='bx bxs-edit-alt success'><span class=""> Export</span></i></a>&nbsp;
            <a href="#"> <i class='bx bxs-bar-chart-alt-2 success'><span class=""> Dane</span></i></a>
        </p>
    </div>
</div>
<section class="container-fluid container-custom  text-center scrollit">

    <table class="table ">
        <thead>
        <tr>
            <th class="colth" style="" scope="col"></th>
            <th class="colth" scope="col">Numer</th>
            <th class="colth" scope="col">Nazwisko</th>
            <th class="colth" scope="col">Imie</th>
            <th class="colth" scope="col">Rozliczenie</th>
            <th class="colth" scope="col">Numer telefonu</th>
            <th class="colth" scope="col">Data zapisu</th>
            <th class="colth" scope="col">Info.</th>
            <!-- <th scope="col"> Info.</th> -->
        </tr>
        </thead>
        <tbody id="tbody-element">


        <!-- The Modal -->


        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <div id="inside-modal ">
                    <div class="text">
                        <div class="hello">
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2 my-2" type="search" placeholder="Imie"
                                       aria-label="Search">
                                <input class="form-control mr-sm-2" type="search" placeholder="Nazwisko"
                                       aria-label="Search">
                                <input class="form-control mr-sm-2 my-2" type="search" placeholder="Wiek"
                                       aria-label="Search">
                                <input class="form-control mr-sm-2" type="search" placeholder="Numer indywidualny"
                                       aria-label="Search">

                                <input class="form-control mr-sm-2 my-2" type="email" name="email" placeholder="E-mail">
                                <input class="form-control mr-sm-2 my-2" type="tel" id="phone" name="phone"
                                       placeholder="Numer telefonu">
                                <input class="form-control mr-sm-2 my-2" type="tel" id="phone" name="phone"
                                       placeholder="Rozliczenie na ten cykl">

                                <select class="form-control mr-sm-2 my-2" name="offer"
                                        aria-label="Default select example">
                                    <option name="FIFTY" value="FIFTY" selected>Grupa 1</option>
                                    <option name="HUNDRED" value="HUNDRED" selected>Grupa 2</option>
                                    <option name="TWO_HUNDRED" value="TWO_HUNDRED" selected>Grupa 2</option>
                                    <option name="FIVE_HUNDRED" value="FIVE_HUNDRED" selected>Grupa 2</option>
                                </select>
                                <div class="container" style="font-size: 0.8em; text-align:left!important">
                                    <input type="checkbox" id="scales" name="scales" class="option"/> Cena indywdualna

                                </div>
                                <select class="form-control mr-sm-2 my-2" name="offer"
                                        aria-label="Default select example">
                                    <option name="FIFTY" value="FIFTY" selected>Karnet rodzina 2-os.</option>
                                    <option name="HUNDRED" value="HUNDRED" selected>Karnet rodzina 2-os.</option>
                                    <option name="TWO_HUNDRED" value="TWO_HUNDRED" selected>Karnet rodzina 2-os.
                                    </option>
                                    <option name="FIVE_HUNDRED" value="FIVE_HUNDRED" selected>Karnet rodzina 2-os.
                                    </option>
                                </select>
                                <input class="form-control mr-sm-2 my-2" type="tel" id="phone" name="phone"
                                       placeholder="Cena">
                                <div style="font-size: 0.8em; text-align:left!important"> Cykl rozliczeniowy</div>
                                <select class="form-control mr-sm-2 my-2 " name="offer"
                                        aria-label="Default select example">
                                    <option name="FIFTY" value="FIFTY" selected>Co zajęcia.</option>
                                    <option name="HUNDRED" value="HUNDRED" selected>1 tyg.</option>
                                    <option name="FIFTY" value="FIFTY" selected>2 tyg.</option>
                                    <option name="HUNDRED" value="HUNDRED" selected>1 msc.</option>
                                    <option name="HUNDRED" value="HUNDRED" selected>2 msc.</option>
                                    <option name="TWO_HUNDRED" value="TWO_HUNDRED" selected>3 msc.</option>
                                    <option name="FIVE_HUNDRED" value="FIVE_HUNDRED" selected>6 msc.</option>
                                    <option name="FIVE_HUNDRED" value="FIVE_HUNDRED" selected>12 msc.</option>
                                </select>

                                <div style="font-size: 0.8em; text-align:left!important">
                                    Data zapisu<br> <input type="date" lang="fr-CA" class="my-2" data-date=""
                                                           id="date-picker" data-date-format="DD MMMM YYYY"><br>
                                    Data pierwszej wpłaty <br><input type="date" class="my-2" lang="fr-CA" data-date=""
                                                                     id="date-picker"
                                                                     data-date-format="DD MMMM YYYY"><br>
                                    Data kolejnej wpłaty <br><input type="date" class="my-2" lang="fr-CA" data-date=""
                                                                    id="date-picker"
                                                                    data-date-format="DD MMMM YYYY"><br>
                                </div>
                                <script type="text/javascript">

                                    window.onload = dataChange();
                                </script>
                                <br>
                                <a href="#"> <i class='bx bxs-edit-alt success'><span> Zapisz</span></i></a>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <tr>

            <td data-label="Obecność" scope="row">
                <input type="checkbox" id="scales" name="scales" class="option"/>
            </td>
            <td data-label="Imie">1</td>
            <td data-label="Nazwisko">1</td>
            <td data-label="Name">Dinesh</td>

            <td scope="row">
                <Button class="price" onclick="changePriceStatus(this)">-140zł</Button>
            </td>

            <td data-label="Name">Dinesh</td>
            <td data-label="Grupa">1A</td>
            <!-- <td data-label="Marks%">gvhgvjhgvh%</td> -->

            <td data-label="info."><a href="#" class="" id="myBtn"> <i class='bx  bxs-edit-alt info'> </i></a></td>
        </tr>
        <tr style="
              ">
            <td scope="row">
                <input type="checkbox" id="scales" name="scales" class="option"/>
            </td>
            <td data-label="Imie">1</td>
            <td data-label="Name">Kamal</td>
            <td data-label="Age">23</td>

            <td scope="row">
                <Button class="price" onclick="changePriceStatus(this)">-140zł</Button>
            </td>
            <td data-label="Name">Dinesh</td>
            <td data-label="Grupa">1A</td>
            <!-- <td data-label="Staus">Passed</td> -->
            <td data-label="info."><a href="#" class=""> <i class='bx bxs-info-circle info'> </i></a></td>
        </tr>
        <tr>
            <td scope="row">
                <input type="checkbox" id="scales" name="scales" class="option"/>
            </td>
            <td data-label="Imie">1</td>
            <td data-label="Name">Neha</td>
            <td data-label="Age">20</td>

            <td scope="row">

                <Button class="price" onclick="changePriceStatus(this)">-140zł</Button>

            </td>
            <td data-label="Name">Dinesh</td>
            <td data-label="Grupa">1A</td>
            <td data-label="info."><a href="#" class=""> <i class='bx bxs-info-circle info'> </i></a></td>
        </tr>
        <tr>
            <td scope="row">
                <input type="checkbox" id="scales" name="scales" class="option"/>
            </td>
            <td data-label="Imie">1</td>
            <td data-label="Name">Priya</td>
            <td data-label="Age">30</td>

            <td scope="row">

                <Button class="price" onclick="changePriceStatus(this)">-140zł</Button>

            </td>

            <td data-label="Name">Dinesh</td>
            <td data-label="Grupa">1A</td>
            <td data-label="info."><a href="#" class=""> <i class='bx bxs-info-circle info'> </i></a></td>
        </tr>
        <tr>
            <td scope="row">
                <input type="checkbox" id="scales" name="scales" class="option"/>
            </td>
            <td data-label="Imie">1</td>
            <td data-label="Name">Priya</td>
            <td data-label="Age">30</td>

            <td scope="row">
                <Button class="price" onclick="changePriceStatus(this)">-140zł</Button>
            </td>

            <td data-label="Name">Dinesh</td>
            <td data-label="Grupa">1A</td>
            <td data-label="info."><a href="#" class=""> <i class='bx bxs-info-circle info'> </i></a></td>
        </tr>
        <tr>
            <td scope="row">
                <input type="checkbox" id="scales" name="scales" class="option"/>
            </td>
            <td data-label="Imie">1</td>
            <td data-label="Name">Priya</td>
            <td data-label="Age">30</td>

            <td scope="row">
                <Button class="price" onclick="changePriceStatus(this)">-140zł</Button>
            </td>
            <td data-label="Name">Dinesh</td>
            <td data-label="Grupa">1A</td>
            <td data-label="info."><a href="#" class=""> <i class='bx bxs-info-circle info'> </i></a></td>
        </tr>

        </tbody>
    </table>

</section>

<section id="user-add">
    <div class="container text-center">
        <div class="row" style="">
            <div class="col-lg-6 right-panel">
                <form class="login-form" th:action="@{/app/postUser}" method="POST">
                    <select onchange="moreInformation(this)" class="form-control select-input mr-sm-2" name="groupId">
                        <option selected name="groupId" value="">Brak grupy</option>
                        <option th:each="team : ${teams}"
                                th:value="${team.idTeam}"
                                th:text="${team.teamName}"
                        ></option>
                    </select>

                    <div class="my-2" id="prices-div">

                    </div>

                    </hr>

                    <input
                            hidden
                            class="form-control "
                            type="text"
                            id="user-id"
                            name="userId"

                    />
                    <input
                            class="form-control my-3"
                            type="text"
                            id="user-name"
                            name="userName"
                            placeholder="Imię *"
                    />
                    <input
                            class="form-control my-3"
                            type="text"
                            id="user-surname"
                            name="userSurname"
                            placeholder="Nazwisko *"
                    />
                    <input
                            class="form-control my-3"
                            type="text"
                            id="user-phone"
                            name="userPhone"
                            placeholder="Numer telefonu"
                    />
                    <input
                            class="form-control my-3"
                            type="text"
                            id="user-email"
                            name="userEmail"
                            placeholder="Email "
                    />

                    <input style="width: 20px !important;" type="checkbox" name="user-of-age"/>
                    <b style="font-size: 0.7em"> Jestem pełnoletni/nia </b>
                    <div style="display:none;float: left;" class="my-2" id="prices-ul">

                    </div>


                    <div id="term">
                        <div id="part-term" style="display: flex"></div>
                    </div>

                    <hr/>
                    <button id="button-save-user" class="btn btn-outline-success w-100" onclick="removeId('group-id')"
                            type="submit">
                        Zapisz
                    </button>

                </form>
            </div>
            <div class="col-lg-6 right-panel">
                <ul style="font-size: 0.7em"
                    class="list-group list-unstyled list-group-flush">
                    <li id="li-group-info-groupName" style="display: none" class="my-2 group-info ">
                        <div><b>Nazwa grupy: </b>
                            <span id="span-group-info-groupName"></span>
                        </div>
                    </li>
                    <li id="li-group-info-leaderName" style="display: none" class="my-2 group-info ">
                        <div><b>Prowadzący: </b>
                            <span id="span-group-info-leaderName"></span>
                        </div>
                    </li>
                    <li id="li-group-info-place" style="display: none" class="my-2 group-info ">
                        <div><b>Lokalizacja: </b>
                            <span id="span-group-info-place"></span>
                        </div>
                    </li>
                    <li id="li-group-info-terms" style="display: none" class="my-2 group-info ">
                        <div><b>Terminy: </b>
                            <span id="span-group-info-terms"></span>
                        </div>
                    </li>
                    <li id="li-group-info-space" style="display: none" class="my-2 group-info ">
                        <div><b>Wolne miejsca: </b>
                            <span id="span-group-info-space"></span>
                        </div>
                    </li>
                    <li id="li-group-info-data" style="display: none" class="my-2 group-info ">
                        <div><b>Od kiedy: </b>
                            <span id="span-group-info-data"></span>
                        </div>
                    </li>
                    <li id="li-group-info-firstFree" style="display: none" class="my-2 group-info ">
                        <div><b>Pierwsze zajecia darmowe: </b>
                            <span id="span-group-info-firstFree"></span>
                        </div>
                    </li>
                    <li id="li-group-info-description" style="display: none" class="my-2 group-info ">
                        <div><b>Dodatkowa informacja: </b>
                            <span id="span-group-info-description"></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<script>
    function changePriceStatus(element) {

        if (element.innerText === "0") {
            element.innerText = "-140zł";
        } else {
            element.innerText = "0";

        }

    }

    function showOrHidePrices(option) {
        let elementsPrices = document.getElementsByClassName("part-prices");
        for (var i = 0; i < elementsPrices.length; i++) {
            elementsPrices[i].style.display = option;
        }
    }

    function moreInformation(event) {

        if (event.value === "") {
            let elementsGroup = document.getElementsByClassName("group-info");
            for (var i = 0; i < elementsGroup.length; i++) {
                elementsGroup[i].style.display = "none";
            }
            showOrHidePrices("none");
        } else {
            var xhr = new XMLHttpRequest();
            var groupId = event.value;
            xhr.open('GET', "/app/getSpecifiedGroupInformation?groupId=" + groupId, true);
            xhr.send('');

            xhr.onreadystatechange = function () {
                var issue;
                if (this.readyState === 4 && this.status === 200) {

                    issue = JSON.parse(xhr.responseText);
                    generatedDivPrices(issue['prices']);
                    generatedGroupInfo(issue['teams'], issue['terms']);
                }
            }
        }
    }

    function generatedDivPrices(prices) {

        var result = "";
        for (let i = 0; i < prices.length; i++) {
            result = result
                +
                '<div class="part-prices" style="display: flex;color:black; font-size:0.6em!important">\n' +
                '<input style="width: 20px !important;" type="radio"   value="' + prices[i]['idPrice'] + '" name="priceIds"/>\n' +
                ' <b>' + "Nazwa:&nbsp;" + '</b>' + prices[i]['name'] + ", &nbsp;" +
                ' <b>' + "Cena:&nbsp;" + '</b>' + prices[i]['value'] + "zł, &nbsp;" +
                ' <b>' + "Rozliczenie:&nbsp;" + '</b>' + prices[i]['cycle'] + "dni, &nbsp;" +
                ' <b>' + "Opis:&nbsp;" + '</b>' + prices[i]['description'] +
                "</div>";
        }


        document.getElementById("prices-div").innerHTML =
            result;

        showOrHidePrices("block");

    }

    function generatedGroupInfo(team, terms) {

        let idTeam = team['idTeam'];
        let teamName = team['teamName'];
        let leaderName = team['leaderName'];
        let place = team['place'];
        let startDate = team['startDate'];
        let endDate = team['endDate'];
        let freeSpace = team['freeSpace'];
        let groupSize = team['groupSize'];
        let firstFree = team['firstFree'];
        let description = team['description'];
        let displayTerms = "";
        for (let i = 0; i < terms.length; i++) {
            displayTerms = displayTerms + terms[i] + ", ";

        }
        let data = "";

        if (endDate !== "") {
            data = startDate + " do " + endDate;
        } else {
            data = startDate;
        }


        let li_group_name = document.getElementById('li-group-info-groupName');
        let span_group_name = document.getElementById('span-group-info-groupName');

        let li_leader_name = document.getElementById('li-group-info-leaderName');
        let span_leader_name = document.getElementById('span-group-info-leaderName');

        let li_place = document.getElementById('li-group-info-place');
        let span_place = document.getElementById('span-group-info-place');

        let li_terms = document.getElementById('li-group-info-terms');
        let span_terms = document.getElementById('span-group-info-terms');

        let li_space = document.getElementById('li-group-info-space');
        let span_space = document.getElementById('span-group-info-space');

        let li_data = document.getElementById('li-group-info-data');
        let span_data = document.getElementById('span-group-info-data');

        let li_first_free = document.getElementById('li-group-info-firstFree');
        let span_first_free = document.getElementById('span-group-info-firstFree');

        let li_description = document.getElementById('li-group-info-description');
        let span_description = document.getElementById('span-group-info-description');


        if (teamName !== "") {
            span_group_name.innerText = teamName;
            li_group_name.style.display = "block";

        } else {
            li_group_name.style.display = "none";
        }
        if (leaderName !== "") {
            span_leader_name.innerText = leaderName;
            li_leader_name.style.display = "block";
        } else {
            li_leader_name.style.display = "none";
        }
        if (startDate !== "") {
            span_data.innerText = data;
            li_data.style.display = "block";
        } else {
            li_data.style.display = "none";
        }

        if (displayTerms !== "") {
            span_terms.innerText = groupSize + "/" + freeSpace;
            li_terms.style.display = "block";
        } else {
            li_terms.style.display = "none";
        }

        if (groupSize !== "") {
            span_space.innerText = freeSpace + "/" + groupSize;
            li_space.style.display = "block";
        } else {
            li_space.style.display = "none";
        }
        if (place !== "") {
            span_place.innerText = place;
            li_place.style.display = "block";
        } else {
            li_place.style.display = "none";
        }
        if (firstFree !== "true") {
            span_first_free.innerText = "Tak";
            li_first_free.style.display = "block";
        } else {
            li_first_free.style.display = "none";
        }
        if (description !== "") {
            span_description.innerText = description;
            li_description.style.display = "block";
        } else {
            li_description.style.display = "none";
        }
    }

    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function () {
        modal.style.display = "block";

        var issueTable = document.getElementById('myModal');

    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
</body>
</html>