<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">

<head>
    <div th:replace="~{fragments/headApp :: head}"></div>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
<body>
<div th:replace="~{fragments/navbarApp :: navigation}"></div>
<br><br><br>
<div class="container-fluid">

    <div class=" col-sm-12 col-md-12 col-lg-12">
        <iframe  frameBorder="0" title="Wikipedia page for Avocados " class="w-100" style="height: 800px;"  th:replace="~{Table/Kalendarz :: calendar}"></iframe>
    </div>
</div>
</body>
</html>