<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{fragments/headApp :: head}"></div>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<div th:replace="~{fragments/navbarApp :: navigation}"></div>
<div class="container-fluid">
    <div class="row hello">
        <div class="col-12 col-md-12">
            <div class="text">
                <br/><br/><br/>
                <h4>Opcje grupy</h4>
            </div>
            <hr/>

            <div class="container-fluid">
                <div class="col-lg-6">
                    <button
                            class="btn btn-primary "
                            onclick="changePanel('group-table')"
                            type="submit"
                    >
                        Lista grup
                    </button>
                    <button
                            class="btn btn-primary "
                            onclick="changePanel('price-add')"
                            type="submit"
                    >
                        Lista cen
                    </button>
                    <button
                            class="btn btn-primary "
                            onclick="changePanel('group-add')"
                            type="submit"
                    >
                        Dodawanie grup
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <div id="inside-modal ">
            <div class="text">
                <div class="hello">

                </div>
            </div>
        </div>
    </div>
</div>
<section id="group-table">
    <div class="container-fluid text-center">
        <div class="row" style="padding: 10px">
            <div class="col-lg-12 right-panel container-custom">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="colth" scope="col"></th>
                        <th class="colth" scope="col"><span style="font-size: 0.9em!important">Nazwa</span></th>
                        <th class="colth" scope="col"><span style="font-size: 0.9em!important">Terminy</span></th>
                        <th class="colth" scope="col"><span style="font-size: 0.9em!important">Lokalizacja</span></th>
                        <th class="colth" scope="col"><span style="font-size: 0.9em!important">Prowadzący</span></th>
                        <th class="colth" scope="col"><span style="font-size: 0.9em!important">Miejsca</span></th>
                        <th class="colth" scope="col">
                            <span style="font-size: 0.9em!important">Informacje</span>
                        </th>
                        <th class="colth" scope="col"><span style="font-size: 0.9em!important">Data od</span></th>
                        <th class="colth" scope="col"><span style="font-size: 0.9em!important">Data do</span></th>
                        <th class="colth" scope="col">
                            <span style="font-size: 0.9em!important">Kolor</span>
                        </th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- The Modal -->
                    <tr th:each="allInfos : ${allInfos}">
                        <form th:action="@{/app/deleteGroup}" th:method="POST">
                            <td  scope="row">
                                <input style="max-width: 10px"  type="checkbox"  th:name="groupId"
                                       th:value="${allInfos.teams.idTeam}"/>
                            </td>
                        <td><span style="font-size: 0.8em" th:text="${allInfos.teams.teamName}"></span></td>
                            <td>
                                <div th:each="terms : ${allInfos.terms}">

                                    <span style="font-size: 0.8em" class="my-1" th:text="${terms}"></span>

                                </div>
                            </td>
                        <td><span style="font-size: 0.8em" th:text="${allInfos.teams.place}"></span></td>
                        <td><span style="font-size: 0.8em" th:text="${allInfos.teams.leaderName}"></span></td>
                        <td>
                            <span style="font-size: 0.8em" th:text="${allInfos.teams.freeSpace}"></span>
                            <span style="font-size: 0.8em" th:text="'/'+ ${allInfos.teams.groupSize }"></span>
                        </td>
                        <td><span style="font-size: 0.8em" th:text="${allInfos.teams.description}"></span></td>
                            <td><span style="font-size: 0.8em" th:text="${allInfos.teams.startDate}"></span></td>
                            <td><span style="font-size: 0.8em" th:text="${allInfos.teams.endDate}"></span></td>
                        <td><span style="font-size: 0.8em" th:text="${allInfos.teams.color}"></span></td>

                        <td style="max-width: 150px!important" >
                            <a style="max-width: 60px!important; cursor: pointer; padding: 5px; border-radius: 3px" class="text-light bg-dark" onclick="update(this,'group');">Edytuj
                                <span hidden th:text="${
                                'start:'+allInfos.teams.idTeam} +
                                ',' + ${allInfos.teams.teamName}+
                                ','+ ${allInfos.teams.place}+
                                ','+${allInfos.teams.leaderName} +
                                ','+${allInfos.teams.groupSize}+
                                ','+${allInfos.teams.description}+
                                ','+${allInfos.teams.color}+
                                ','+${allInfos.teams.startDate}+
                                ','+${allInfos.teams.endDate}+
                                 ','+${allInfos.teams.firstFree}+
                                ':stop'"></span>
                            </a>
                            <input style="max-width: 60px!important; cursor: pointer; padding: 4px; border-radius: 4px" type="submit" class="text-light bg-dark" value="Usuń">
                        </td>
                        </form>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<section id="group-add" style="display: none">
    <div class="container text-center">
        <div class="row" style="">
            <div class="col-lg-6 right-panel">
                <form class="login-form" th:action="@{/app/postGroup}" method="POST">
                    <input
                            hidden
                            class="form-control "
                            type="text"
                            id="group-id"
                            name="groupId"

                    />
                    <input
                            class="form-control my-3"
                            type="text"
                            id="group-name"
                            name="groupName"
                            placeholder="Nazwa grupy *"
                    />
                    <ul
                            style="font-size: 0.7em"
                            class="list-group list-unstyled list-group-flush"
                            th:if="${prices.empty}"
                    >
                        <li class="">
                            <b> Brak cen </b>
                        </li>
                    </ul>
                    <ul style="font-size: 0.7em"
                        class="list-group list-unstyled list-group-flush"
                        th:if="${!prices.empty}">
                        <li class="my-2">
                            <input style="width: 20px !important;" type="checkbox" id="input-prices"
                                   onclick="showOrHide('input-prices','prices-ul')">
                            <b>Wyświetl dostępne ceny</b>
                            </hr>
                        </li>
                    </ul>

                    <div style="display:none;float: left;" class="my-2" id="prices-ul">
                        <ul
                                style="font-size: 0.6em; float: left;"
                                class="list-group list-unstyled list-group-flush"
                                th:each="prices : ${prices}">
                            <li class="">
                                <input type="checkbox" id="scales" name="${prices.idPrice}" th:name="priceIds"
                                       th:value="${prices.idPrice}"/>
                                <input style="display: none" type="text"/> <span style="display: none"
                                                                                 th:text="${prices.idPrice}"></span>
                                <b> Cena: </b> <span th:text="${prices.value} + zł"> </span>&nbsp;&nbsp;
                                <b> Nazwa: </b> <span th:text="${prices.name}"> </span>&nbsp;&nbsp;
                                <b> Cykl rozliczeniowy: </b><span th:text="${prices.cycle}"> </span>&nbsp;&nbsp;
                                <b> Opis: </b><span th:text="${prices.description}"></span>
                            </li>
                        </ul>
                    </div>
                    <div id="group-information">
                        <input
                                class="form-control my-2"
                                type="text"
                                id="group-location"
                                name="groupPlace"
                                placeholder="Miejsce"
                        />
                        <input
                                class="form-control my-2"
                                type="number"
                                id="group-size"
                                name="groupSize"
                                placeholder="Wielkość grupy"
                        />
                        <input
                                id="group-leader-name"
                                class="form-control mr-sm-2 my-2"
                                type="search"
                                name="groupLeader"
                                placeholder="Imie oraz nazwisko prowdzącego"
                                aria-label="Search"
                        />

                        <select id="group-color" name="groupColor" class="form-control mr-sm-2 my-2 w-100">
                            <option value="ffffff">Bez koloru</option>
                            <option style="background-color: #6b5b95;" value="6b5b95">#6b5b95</option>
                            <option style="background-color: #ff7b25;" value="ff7b25">#ff7b25</option>
                            <option style="background-color: #feb236;" value="feb236">#feb236</option>
                            <option style="background-color: #86af49;" value="86af49">#86af49</option>
                            <option style="background-color: #d64161;" value="d64161">#d64161</option>
                            <option style="background-color: #3e4444;" value="3e4444">#3e4444</option>
                            <option style="background-color: #c1946a;" value="c1946a">#c1946a</option>
                            <option style="background-color: #034f84;" value="034f84">#034f84</option>
                            <option style="background-color: #50394c;" value="50394c">#50394c</option>
                            <option style="background-color: #4040a1;" value="4040a1">#4040a1</option>
                            <option style="background-color: #034f84;" value="034f84">#034f84</option>
                            <option style="background-color: #e3eaa7;" value="e3eaa7">#e3eaa7</option>
                            <option style="background-color: #f4e1d2;" value="f4e1d2">#f4e1d2</option>
                        </select>

                        <span style="font-size: 0.7em"> Data od:</span>
                        <input
                                class="form-control my-2"
                                type="date"
                                id="group-data-of-start"
                                name="groupDataFrom"
                                placeholder="Data rozpoczęcia"
                        />
                        <span style="font-size: 0.7em"> Data do:</span>
                        <input
                                class="form-control my-2"
                                type="date"
                                id="group-data-of-end"
                                name="groupDataTo"
                                placeholder="Data zakończenia"
                        />
                    </div>
                    <textarea
                            class="form-control mr-sm-2 my-2"
                            type="textarea"
                            id="group-description"
                            name="groupDescription"
                            placeholder="informacja dodatkowa"
                    ></textarea>
                    <div id="term">
                        <div id="part-term" style="display: flex"></div>
                    </div>
                    <a class="btn btn-outline-edit w-100 my-3" onclick="addTerm()">Dodaj termin</a>
                    <input id="group-first-free" style="width: 20px !important;" name="groupFirstFree" type="checkbox">
                    <b style="font-size: 0.7em">Pierwszy wejście za darmo</b>
                    <hr/>

                    <button id="button-save-group" class="btn btn-outline-success w-100" type="submit">
                        Zapisz
                    </button>
                </form>
            </div>
            <div class="col-lg-6 right-panel">
                <form class="login-form" th:action="@{/app/postGroup}" method="POST">


                    <button id="button-save-group" class="btn btn-outline-success w-100" type="submit">
                        Zapisz
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
<section id="price-add" style="display: none">
    <div class="container-fluid text-center">
        <div class="row" style="padding: 10px">
            <div class="col-lg-8 right-panel container-custom">
                <table class="table">
                    <thead>
                    <tr>
                        <th style="font-size: 0.9em" class="colth"  scope="col"></th>
                        <th style="font-size: 0.9em" class="colth" scope="col">Cena</th>
                        <th style="font-size: 0.9em" class="colth" scope="col">Nazwa</th>
                        <th style="font-size: 0.9em" class="colth" scope="col">Okres wplat</th>
                        <th style="font-size: 0.9em"  class="colth" scope="col">Informacje</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="prices : ${prices}">
                        <form th:action="@{/app/deletePrice}" th:method="POST">
                            <td scope="row">
                                <input style="max-width: 20px" type="checkbox" id="scales"  th:name="priceId"
                                       th:value="${prices.idPrice}"/>
                            </td>
                            <td><span style="font-size: 0.9em" th:text="${prices.name}"></span></td>
                            <td><span style="font-size: 0.9em" th:text="${prices.value}"></span></td>
                            <td><span style="font-size: 0.9em" th:text="${prices.cycle}"></span></td>
                            <td><span style="font-size: 0.9em" th:text="${prices.description}"></span></td>
                            <td style="max-width: 130px!important" >
                                <a style="max-width: 60px!important; cursor: pointer; padding: 5px; border-radius: 3px" class="text-light bg-dark" onclick="update(this,'price');">Edytuj
                               <span hidden th:text="${'start:'+prices.idPrice} + ',' + ${prices.name}+ ','+ ${prices.value}+ ','+${prices.cycle} +','+${prices.description}+':stop'"></span>
                                </a>
                                <input style="max-width: 60px!important" type="submit" class="text-light bg-dark" value="usuń">
                            </td>
                        </form>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4 right-panel">
                <form class="login-form" th:action="@{/app/postPrice}" method="POST">
                    <input
                            hidden
                            id="id-of-the-new-price"
                            class="form-control my-3"
                            type="number"
                            name="idPriceNumber"
                    />
                    <input
                            id="name-of-the-new-price"
                            class="form-control my-3"
                            type="text"
                            name="priceName"
                            placeholder="Nazwa karnetu *"
                    />
                    <input
                            id="value-for-new-price"
                            class="form-control my-3"
                            type="number"
                            name="priceValue"
                            placeholder="Cena (w zł) *"
                    />
                    <input
                            id="cycle-for-new-price"
                            class="form-control my-3"
                            type="number"
                            name="priceCycle"
                            placeholder="Cykl rozliczeniowy (w dniach) *"
                    />
                    <textarea
                            id="description-for-new-price"
                            class="form-control mr-sm-2 my-2"
                            type="textarea"
                            name="priceDescription"
                            placeholder="informacja dodatkowa"
                    ></textarea>
                    <hr/>
                    <!--                                    window.location.reload();-->
                    <button
                            id="button-save-price"
                            class="btn btn-outline-success w-100"
                            type="submit">
                        Zapisz
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">

    function update(element,table){
        console.log(element.outerHTML);
        var start =  element.outerHTML.indexOf("start:")+6;
        var stop =  element.outerHTML.indexOf(":stop");
        let result = element.outerHTML.substring(start, stop);
        let splitResult = result.split(',');
        if (table==="price")
        {
           editPrice(splitResult);
        }
        if (table==="group")
        {
            console.log(splitResult);
            editGroup(splitResult);
        }
        if (table==="price")
        {
        }

    }

    function editPrice(splitResult) {
        document.getElementById("id-of-the-new-price").value = splitResult[0];
        document.getElementById("name-of-the-new-price").value = splitResult[1];
        document.getElementById("value-for-new-price").value = splitResult[2];
        document.getElementById("cycle-for-new-price").value = splitResult[3];
        document.getElementById("description-for-new-price").value = splitResult[4];
        document.getElementById("button-save-price").innerText="Edytuj";
    }

    function editGroup(splitResult){

        document.getElementById("group-id").value = splitResult[0];
        document.getElementById("group-name").value = splitResult[1];
        document.getElementById("group-location").value = splitResult[2];
        document.getElementById("group-leader-name").value = splitResult[3];
        document.getElementById("group-size").value = splitResult[4];
        document.getElementById("group-description").value=splitResult[5];
        document.getElementById("group-color").value = splitResult[6];
        document.getElementById("group-data-of-start").value = splitResult[7];
        document.getElementById("group-data-of-end").value = splitResult[8];
        document.getElementById("group-first-free").checked = splitResult[9];
        document.getElementById("button-save-group").innerText="Edytuj";
    }

    function changePanel(element) {
        var price_add = document.getElementById("price-add");
        var group_table = document.getElementById("group-table");
        var group_add = document.getElementById("group-add");
        if (element === "group-table") {
            price_add.style.display = "none";
            group_table.style.display = "block";
            group_add.style.display = "none";
            return;
        }
        if (element === "price-add") {
            price_add.style.display = "block";
            group_table.style.display = "none";
            group_add.style.display = "none";

        }

        if (element === "group-add") {
            price_add.style.display = "none";
            group_table.style.display = "none";
            group_add.style.display = "block";

        }
    }

    window.onload = dataChange();

    function showOrHide(element, nameId) {

        if (document.getElementById(element).checked) {
            document.getElementById(nameId).style.display = "block";
            return;
        }

        document.getElementById(nameId).style.display = "none";
    }

    function dataChange() {
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, "0");
        var mm = String(today.getMonth() + 1).padStart(2, "0"); //January is 0!
        var yyyy = today.getFullYear();
        // 2015-08-09
        today = yyyy + "-" + mm + "-" + dd;
        console.log(today);
        // 1996-06-12
        // var today = moment().format('DD-MM-YYYY');
        document.getElementById("date-picker").innerText = today;
        document.getElementById("date-picker").innerHTML = today;
        document.getElementById("date-picker").value = today;
    }

    function addTerm() {
        var termIncrease = document.getElementById("term").innerHTML;

        document.getElementById("term").innerHTML =
            termIncrease +
            '<div id="part-term" style="display: flex;">\n' +
            '<select name="groupDayFor" class="form-control mr-sm-2 my-2 w-100"  aria-label="Default select example">\n' +
            '<option value="Poniedziałek" selected>Poniedziałek</option>\n' +
            '<option value="Wtorek" >Wtorek</option>\n' +
            '<option value="Środa" >Środa</option>\n' +
            '<option value="Czwartek" >Czwartek</option>\n' +
            '<option value="Piątek" >Piątek</option>\n' +
            '<option value="Sobota" >Sobota</option>\n' +
            '<option value="Niedziela" >Niedziela</option>\n' +
            "</select>\n" +
            '<input id="appt-time-start" type="time" name="groupTimeFrom" class="w-100" style="color:black!important; height:40px; font-size:0.8em" >\n' +
            '<input id="appt-time-stop" type="time" name="groupTimeTo" class="w-100" style="color:black!important; height:40px; font-size:0.8em" >\n' +
            '<a style="color:black!important; height:40px; font-size:1.2em" ><i class=\'bx bx-x\'></i></a>\n' +
            "</div>";
    }
</script>
</body>
</html>