<!DOCTYPE html>
<html lang="en">
<head>
  <div th:replace="~{fragments/headApp :: head}"></div>
  <script type="text/javascript" th:src="@{/js/main.js}"></script>
  <link th:href="@{/css/main.css}" rel="stylesheet"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
</head>
<body>
<div th:replace="~{fragments/navbarApp :: navigation}"></div>

<div class="container-fluid">
  <div class="row hello">
    <div class="col-12 col-md-12">
      <div class="text">
        <br/><br/><br/>
        <h4>Opcje grupy</h4>
      </div>
      <hr/>
      <div class="container-fluid">
        <div class="col-lg-6">
        </div>
      </div>
    </div>
  </div>
</div>

<section id="price-add" >
  <div id="alert-price-fail" style="display: none" class="alert alert-danger alert-dismissible fade show"
       role="alert">
    Zaznacz cene do usunięcia!
  </div>
  <div id="alert-price-success" style="display: none" class="alert alert-success alert-dismissible fade show"
       role="alert">
    Cena została usunięta!
  </div>
  <div class="container-fluid text-center">
    <div class="row" style="padding: 10px">
      <div class="col-lg-8 right-panel container-custom">
        <table class="table">
          <thead>
          <tr>
            <th style="font-size: 0.9em" class="colth" scope="col"></th>
            <th style="font-size: 0.9em" class="colth" scope="col">Nazwa</th>
            <th style="font-size: 0.9em" class="colth" scope="col">Cena</th>
            <th style="font-size: 0.9em" class="colth" scope="col">Okres wplat</th>
            <th style="font-size: 0.9em" class="colth" scope="col">Informacje</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody id="tbody-element-prices">

          </tbody>
        </table>
      </div>
      <div class="col-lg-4 right-panel">
        <!--                <form class="login-form" th:action="@{/app/postPrice}" method="POST">-->
        <input
                hidden
                id="id-of-the-new-price"
                class="form-control my-3"
                type="number"
                name="idPriceNumber"
        />
        <input
                id="name-of-the-new-price"
                class="form-control my-3"
                type="text"
                name="priceName"
                placeholder="Nazwa karnetu *"
        />
        <input
                id="value-for-new-price"
                class="form-control my-3"
                type="number"
                name="priceValue"
                placeholder="Cena (w zł) *"
        />
        <input
                id="cycle-for-new-price"
                class="form-control my-3"
                type="number"
                name="priceCycle"
                placeholder="Cykl rozliczeniowy (w dniach) *"
        />
        <textarea
                id="description-for-new-price"
                class="form-control mr-sm-2 my-2"
                type="textarea"
                name="priceDescription"
                placeholder="informacja dodatkowa"
        ></textarea>
        <hr/>
        <!--window.location.reload();-->
        <span id="alert-edit-save"></span>
        <button
                id="button-edit-price"
                class="btn btn-outline-info w-100"
                onclick="addPrice(this);"
                type="submit">
          Edytuj
        </button>
        <button id="button-save-price" class="btn btn-outline-success w-100"
                onclick="addPrice('button-save-price'); "
                type="submit">
          Zapisz
        </button>
        <!--                </form>-->
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<script type="text/javascript">

  window.onload = function () {
    getPrices();
  };

  function deletePrice(element) {

    var xhr = new XMLHttpRequest();

    xhr.open('POST', "/app/deletePrice?priceId=" + element, true);

    xhr.send('');
    var result = "";
    xhr.onreadystatechange = function () {
      if (this.readyState === 4 && this.status === 200) {
        result = xhr.responseText;
        getPrices();
        document.getElementById('alert').value = result;
      } else {

      }
    }
    document.getElementById('alert-price-fail').style.display = "none";
    document.getElementById('alert-price-success').style.display = "block";
  }

  function addPrice(element) {

    let idPriceNumber = "";
    if (element === 'button-save-price') {
      idPriceNumber = "";
    } else {
      idPriceNumber = document.getElementById('id-of-the-new-price').value;
    }

    let xhr = new XMLHttpRequest();
    let priceName = document.getElementById('name-of-the-new-price').value;
    let priceValue = document.getElementById('value-for-new-price').value;
    let priceCycle = document.getElementById('cycle-for-new-price').value;
    let priceDescription = document.getElementById('description-for-new-price').value;

    xhr.open('POST', "/app/postPrice?idPriceNumber=" + idPriceNumber +
            "&priceName=" + priceName +
            "&priceValue=" + priceValue +
            "&priceCycle=" + priceCycle +
            "&priceDescription=" + priceDescription, true);
    xhr.send('');
    var result = "";
    xhr.onreadystatechange = function () {
      if (this.readyState === 4 && this.status === 200) {
        result = xhr.responseText;
        getPrices();
        clearTableForm();
      } else {

      }
    }
  }

  function removeId(elementToRemove) {
    document.getElementById(elementToRemove).value = "";
  }

  function editPrice(idPrice ,  name , value , cycle, description) {
    document.getElementById("id-of-the-new-price").value = idPrice;
    document.getElementById("name-of-the-new-price").value = name;
    document.getElementById("value-for-new-price").value = value;
    document.getElementById("cycle-for-new-price").value = cycle;
    document.getElementById("description-for-new-price").value = description;
  }
  function clearTableForm(){
    document.getElementById("id-of-the-new-price").value = "";
    document.getElementById("name-of-the-new-price").value = "";
    document.getElementById("value-for-new-price").value = "";
    document.getElementById("cycle-for-new-price").value = "";
    document.getElementById("description-for-new-price").value = "";
  }

  function getPrices() {
    var xhr = new XMLHttpRequest();

    xhr.open('GET', "/app/getPrices", true);
    xhr.send('');

    xhr.onreadystatechange = function () {
      var prices;
      if (this.readyState === 4 && this.status === 200) {
        prices = JSON.parse(xhr.responseText);
        generateTablePrices(prices);
      }
    }
  }

  function  generateTablePrices(prices){
    var result = "";

    for (let i = 0; i < prices.length; i++) {

      var modal = "exampleModalPrice"+ prices[i]['idPrice'];
      var modalLabel="exampleModalLabelPrice"+ prices[i]['idPrice'];

      var idPrice     = "'" + prices[i]['idPrice'] +  "'";
      var name        = "'" + prices[i]['name'] +  "'";
      var value       = "'" + prices[i]['value'] + "'";
      var cycle       = "'" + prices[i]['cycle'] + "'";
      var description   = "'" + prices[i]['description'] + "'";

      result = result
              +
              '<tr style="font-size: 0.9em!important"> ' +
              '<td scope="row">' +
              '<input hidden style="width: 20px !important;" type="checkbox"  th:name="priceId"  th:value="' + prices[i]['idPrice'] + '"   class="option"/>' +
              '</td>' +
              '<td >' + prices[i]['name'] + '</td>' +
              '<td >' + prices[i]['value'] + '</td>' +
              '<td >' + prices[i]['cycle'] + '</td>' +
              '<td >' + prices[i]['description'] + '</td>' +
              '<td data-label="info.">' +
              '<button  class="option-card-button"  onclick="editPrice(' + idPrice + ',' + name + ',' + value +','+ cycle+','+ description+')" >Edytuj</button>&nbsp;' +
              '<button  class="option-card-button" ' +
              'data-toggle="modal" data-target="#'+modal+'">Usuń</button>' +
              '</td>' +
              ' <div class="modal fade" id="'+modal+'" tabindex="-1" role="dialog" aria-labelledby="'+modalLabel+'" aria-hidden="true">\n' +
              '     <div class="modal-dialog" role="document">\n' +
              '         <div class="modal-content">\n' +
              '             <div class="modal-header">\n' +
              '                 <h5 class="modal-title" id="'+modalLabel+'">Usuwanie ceny</h5>\n' +
              '                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">\n' +
              '                     <span aria-hidden="true">&times;</span>\n' +
              '                 </button>\n' +
              '             </div>\n' +
              '             <div class="modal-body">\n' +
              '                 Czy napewno chcesz usunąć cenę?\n' +
              '             </div>\n' +
              '             <div class="modal-footer">\n' +
              '                 <button class="option-card-button btnShow" data-dismiss="modal" style="font-size: 0.9em!important;  min-width: 75px!important; height: auto!important"\n' +
              '                         onclick="deletePrice(' + prices[i]['idPrice'] + ')">Tak</button>\n' +
              '                 <button type="button" class="option-card-button" style="font-size: 0.9em!important; min-width: 100px!important; height: auto!important" data-dismiss="modal">Anuluj</button>\n' +
              '             </div>\n' +
              '         </div>\n' +
              '     </div>\n' +
              ' </div>'
              '</tr>';
    }

    document.getElementById("tbody-element-prices").innerHTML = result;
  }

</script>

</body>
</html>