<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="~{fragments/headSite :: head}"></div>
</head>
<body style="background-color: #fff;">
<section id="nav-bar">
  <nav class="navbar navbar-expand-lg navbar-light">

    <a class="navbar-brand" href="#"><img src="./images/demo-logo.png"></a>
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
      <i class="fa fa-bars" ></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/login">Logowanie </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/registration">Rejestracja</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://e-lista.herokuapp.com/home#functions">Funkcje</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://e-lista.herokuapp.com/home#for-whom">Dla kogo?</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="https://e-lista.herokuapp.com/home#prices">Cennik</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://e-lista.herokuapp.com/home#functions">Zapisz się na zajęcia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://e-lista.herokuapp.com/home#footer">Kontakt</a>
            </li>
        </ul>
    </div>
  </nav>
</section>
<script>
    $('.navbar-nav>li>a').on('click', function(){
        $('.navbar-collapse').collapse('hide');
    });
</script>
<!-- banner section -->


<!-- END BANNER SECTION -->

<!-- SERVICE SECTION -->

<section id="for-whom" >
  <div class="container text-center">
    <!-- <h1 class="title">Dla kogo?</h1> -->
    <div class="row text-center">

      <div class="col-md-12 for-whom">
        <form class="login-form" th:action="@{/registration}" method="POST">
          <!-- <div class="login-form__logo-container">LOGO
              <img class="login-form__logo" src="https://via.placeholder.com/350x150" alt="Logo">
          </div> --><br>
          <div> <h1 class="title">Rejestracja</h1></div>
          <div class="login-form__content">
            <div class="login-form__header">Darmowy tygodniowy okres próbny!</div>
<!--            <div class="login-form__header text-danger message"></div>-->
            <div class="login-form__links">
              <a class="login-form__link" href="./"></a>
            </div>
            <input class="login-form__input" type="name" name="name"  required placeholder="Nazwa szkoły">
            <input class="login-form__input" type="email" name="email" required placeholder="E-mail">
            <input class="login-form__input" type="password" name="password" required  placeholder="Hasło">
            <input class="login-form__input" type="address" name="address" required placeholder="Adres">
            <input class="login-form__input" type="tel" id="phone" name="phone" required placeholder="Numer telefonu">
            <select class="login-form__input" name="offer"   aria-label="Default select example">
              <option name="FIFTY" value="FIFTY" selected>Do 50 uczestników - 100zl</option>
              <option name="HUNDRED" value="HUNDRED" selected>Do 100 uczestników - 150zl</option>
              <option name="TWO_HUNDRED" value="TWO_HUNDRED" selected>Do 200 uczestników - 250zl</option>
              <option name="FIVE_HUNDRED" value="FIVE_HUNDRED" selected>Do 500 uczestników - 450zl</option>
            </select>
            <button class="login-form__button" type="submit">Zarejestruj się</button>

          </div>
        </form>
      </div>
    </div>
    <a type="button" href="/login" class="btn btn-primary text-center">
      Zaloguj się
    </a>
  </div>
</section>
<!-- END SERVICE SECTION -->
<!-- ABOUT US -->


<!-- END FOOTER -->

<!-- smooth scroll -->
<script src="./smooth-scroll.js">

</script>
<script>
  var scroll = new SmoothScroll('a[href*="#"]');
</script>
<!-- end smooth scroll -->
</body>
</html>
